<div id="<%= dom_id type_blog %>">
  <p>
    <strong>Blog type:</strong>
    <%= type_blog.blog_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type_blog.description %>
  </p>

</div>
