<p style="color: green"><%= notice %></p>

<h1>Type blogs</h1>

<div id="type_blogs">
  <% @type_blogs.each do |type_blog| %>
    <%= render type_blog %>
    <p>
      <%= link_to "Show this type blog", type_blog %>
    </p>
  <% end %>
</div>

<%= link_to "New type blog", new_type_blog_path %>
